<div class="login-card">
  <div class="card">
    <div class="card-header" data-background-color="orange">
      <img src="/assets/img/pi-logo.png"/>
      <h5>JB License Server</h5>
    </div>
    <div class="card-content text-justify">
      <h3>Welcome here.</h3>
       This is an educational project to create an easy manageable <b>License Server</b> based on Google's Firebase, Angular5 and Google's Cloud Functions
    </div>
    <div class="card-footer text-center">
      <button (click)="loginGoogle()" class="btn btn-warning">
        Login with Google
      </button>
    </div>
  </div>
</div>